<template>
  <div id="header">
    <div class="_cont _flex">
      <nuxt-link to="/">
        <a href="#top" @click="scrollBehavior()" v-smooth-scroll="{ duration: 500, offset: 0 }"></a>
        <img src="~/assets/images/logo.svg" class="logo" alt="">
      </nuxt-link>
      <nuxt-link to="/">
        <a href="#about" v-smooth-scroll="{ duration: 500, offset: 0 }">
          <span class="nav-link"> {{ $t("about") }}</span>
        </a>
      </nuxt-link>
      <nuxt-link to="/">
        <a href="#skils" v-smooth-scroll="{ duration: 500, offset: 0 }">
          <span class="nav-link"> {{ $t("skils") }}</span>
        </a>
      </nuxt-link>
      <nuxt-link to="/">
        <a href="#portfolio" v-smooth-scroll="{ duration: 500, offset: 0 }">
          <span class="nav-link"> {{ $t("portfolio") }}</span>
        </a>
      </nuxt-link>
      <span class="nav-link" @click="
        MANAGE_MODAL({
          name: 'contacts',
        })
      "> {{ $t("contacts") }} </span>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";

import "~/assets/css/header.css";

export default {
  computed: {
    ...mapGetters(["modals"])
  },
  methods: {
    ...mapMutations(["MANAGE_MODAL", "CLOSE_ALL_MODALS"]),
  },
}
</script>

<style>
</style>