<template>
    <div id="portfolio">
        <div class="_cont_small">
            <p class="title">{{ $t("portfolio") }}</p>
            <p>{{ $t("index.portfolio.info") }}</p>
            <div class="_flex">
                <div class="item">
                    <a href="https://6295339ec5270722d74024a4--precious-malasada-8a5660.netlify.app/" target="_blank"
                        rel="noopener noreferrer">
                        <img class="portfolio-pic" src="~/assets/images/wepro.png" alt="">
                        <p class="portfolio-link">{{ $t("index.portfolio.project") }}</p>
                    </a>
                </div>
                <div class="item">
                    <a href="https://tangerine-lily-3aa546.netlify.app/" target="_blank" rel="noopener noreferrer">
                        <img class="portfolio-pic" src="~/assets/images/test.png" alt="">
                        <p class="portfolio-link">{{ $t("index.portfolio.project") }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
</style>