<template>
  <div id="skils">
    <div class="_cont_small">
      <p class="title"> {{ $t("skils") }} </p>
      <p> {{ $t("stak") }} </p>
      <div class="_grid">
        <div class="card" v-for="index in toshow" :key="index.id">
          <img :src="modals.skilsAndPrograms[index - 1].src" alt="" class="icon">
          <p>{{ modals.skilsAndPrograms[index - 1].title.toUpperCase() }}</p>
        </div>

      </div>
      <button v-if="this.toshow < this.modals.skilsAndPrograms.length" @click="Toogle()">{{ $t("btnShow") }}</button>
      <button v-else @click="Toogle()">{{ $t("btnHide") }}</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      toshow: 4,
      total: 0
    }
  },
  computed: {
    ...mapGetters(["modals"]),
  },
  methods: {
    Toogle() {
      if (this.toshow == this.modals.skilsAndPrograms.length) {
        this.toshow = 0
      }
      if (this.toshow < this.modals.skilsAndPrograms.length) {
        this.toshow += 4
        if (this.toshow > this.modals.skilsAndPrograms.length) {
          this.toshow = this.modals.skilsAndPrograms.length
          return
        }
      }
      console.log(this.toshow);
      console.log(this.modals.skilsAndPrograms.length);
    }
  },
  mounted() {
    this.total = this.modals.skilsAndPrograms
    console.log(this.modals.skilsAndPrograms);
  }
};
</script>

<style>
</style>