<template>

  <div class="bg-secondary-light dark:bg-primary-dark min-h-screen flex flex-col">
    <Header />
    <Modals />
    <transition name="fade">
      <Nuxt />
    </transition>
    <Footer />
  </div>
</template>

<script>
import Header from "~/components/Header.vue";
import Footer from "~/components/Footer.vue";
import "~/assets/css/library.css"
import "~/assets/css/media.css"
import "~/assets/fonts/stylesheet.css"


export default {
  components: { Header, Footer },

}
</script>

<style>
</style>