<template>
  <div v-show="toggle" id="index-page">
    <div class="_cont" id="top">
      <div class="_flex">
        <div>
          <p class="title" id="shit">
            {{ $t("name") }}<br> {{ $t("secondName") }}</p>
        </div>
        <div>
          <p class="about">{{ $t("index.top.about.part1") }} <br> {{ $t("index.top.about.part2") }}</p>
        </div>
        <p class="lang">
          <nuxt-link :to="switchLocalePath('en')">ENG </nuxt-link>|
          <nuxt-link :to="switchLocalePath('ru')">RU</nuxt-link>
          <!-- :class="{'activeLang' : window.location.pathname == '/'} -->
          <!-- :class="{'activeLang' : window.location.pathname == '/ru'}" -->
        </p>
        <img @click="
          MANAGE_MODAL({
            name: 'mobile_menu',
          })
        " src="~/assets/images/burger.svg" class="burger" alt="">

      </div>

      <img class="main-img" src="~/assets/images/photo.jpg" alt="">

    </div>
    <About />
    <transition name="fade">
      <Skils />
    </transition>
    <Portfolio />
  </div>
</template>
<script>
import "~/assets/css/index.css"
import { mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      toggle: false
    };
  },
  computed: {
    ...mapGetters(["modals"]),
  },
  mounted() {
    this.toggle = !this.toggle;
  },
  methods: {
    ...mapMutations(["MANAGE_MODAL"]),
  }
}
</script>

<style>
.fade-up-down-enter-active {
  transition: all 0.3s ease;
}

.fade-up-down-leave-active {
  transition: all 0.3s ease;
}

.fade-up-down-enter {
  transform: translateY(10%);
  opacity: 0;
}

.fade-up-down-leave-to {
  transform: translateY(10%);
  opacity: 0;
}

.fade-enter-active {
  -webkit-transition: opacity 2s;
  transition: opacity 0.3s;
}

.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>