
.fade-up-down-enter-active
    transition: all 0.3s ease

.fade-up-down-leave-active
    transition: all 0.3s ease

.fade-up-down-enter
    transform: translateY(10%)
    opacity: 0

.fade-up-down-leave-to
    transform: translateY(10%)
    opacity: 0

.fade-enter-active
    -webkit-transition: opacity 2s
    transition: opacity 0.3s

.fade-leave-active
    transition: opacity 0.3s

.fade-enter,
.fade-leave-to
    opacity: 0

// .fade-enter-active
//     animation: coming 0.4s
//     animation-delay: 0.2s
//     opacity: 0

// .fade-leave-active
//     animation: going 0.4s

// @keyframes going
//     from
//         transform: translateX(0)
//     to
//         transform: translateX(-10px)
//         opacity: 0
//     from
//         transform: translateX(-10px)
//         opacity: 0
//     to
//         transform: translateX(0px)
//         opacity: 1
 
