body
    @media only screen and (max-width: 560px)
        #header
            display: none
        #index-page
            ._cont
                padding-top: 0px
                .portfolio-pic
                    height: 350px
                ._flex
                    align-items: flex-start
                    .lang
                        display: none
                    .about
                        display: none
                    .burger
                        display: block
                        transition: 0.3s ease
                        margin-top: 10px
    @media only screen and (max-width: 420px)
        #modal_contacts
            
            max-width: 290px
            height: fit-content
            position: fixed
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            z-index: 11
            background: #FFFFFF
            border-radius: 14px
            padding: 25px 18px
            transition: 0.3s ease
            ._form_modal
                ._h3
                    margin-bottom: 16px
                ._text
                    font-weight: 600
                    font-size: 38px

                ._grey
                    margin-top: -2px
                    margin-bottom: 30px

                .icons
                    display: flex
                    align-items: center
                    gap: 13px
                    img
                        width: 30px
                        height: 30px
                        margin-right: 13px
                        margin-bottom: 30px

                button
                    width: 100% !important
