#mobile-menu
    position: fixed
    z-index: 10
    background-color: #fff
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100vw
    height: 100vh
    padding: 66px 26px
    transition: 0.3s ease
    ._flex
        justify-content: space-between
    ._close_icon
        margin-top: 5px
        width: 23px
        height: 23px
    .left
        display: flex
        flex-direction: column
        gap: 68px
    ._list
        font-size: 34px
        line-height: 42px
        color: #090909
        margin-bottom:
#contacts-modal
    width: 300px
    height: 200px
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 11
.bg
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: #191c2181
    backdrop-filter: blur(5px)
    z-index: 10
#modal_contacts
     
    width: fit-content
    height: fit-content
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 11
    background: #FFFFFF
    border-radius: 14px
    padding: 25px 18px
    transition: 0.3s ease
    ._form_modal
        transition: 0.3s ease
    ._h3
        margin-bottom: 16px
        transition: 0.3s ease

    ._text
        font-weight: 600
        font-size: 54px
        transition: 0.3s ease

    ._grey
        margin-top: -2px
        margin-bottom: 30px
        transition: 0.3s ease

    .icons
        display: flex
        align-items: center
        gap: 13px
        transition: 0.3s ease
        img
            width: 30px
            height: 30px
            margin-right: 13px
            margin-bottom: 30px
            transition: 0.3s ease

    button
        width: 100%
        border-radius: 7px
